.general{
    width: 50%;
    height: 300px;;
    display: flex;
    padding: .3rem;
    gap: 2px;
    border: 1px solid black;
    text-align: center;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 120px;
}

.rectangle{
    width: 400px;
    height: 250px; ;
    background-color: white;
}

.carre{
    width: 300px;
    height: 250px;
    background-color: rgb(119, 136, 153);
}
button{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    font-weight:500px;
    font-size: 20px;
    font-weight: bolder;
}